body {
  background-color: #0c0c0c;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color:#0c0c0c ;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  height:60px;
}

a {
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.title {
   position: absolute;
   left:20px;
    cursor: pointer;
}

.over {
  font-family: Barlow Condensed;
  color:#ffffff;
  font-weight: 900;
  font-size: 22px;
}

.mind{
  font-family: fraunces;
  color: #a3a3a3;
  font-weight: 300;
  font-size: 18px;
  font-style: italic;
}
.links{
 display: flex;
 gap: 25px;
 font-family: inter;
 font-weight: 500;
}

.links a{
  text-decoration: none;
  color: #525252;

}

.links a:hover {
  color: white;
  transition: color 0.25s ease-in;
}

.start-button-1 {
  border: none;
  position: absolute;
  right: 25px;
  padding: 10px;
  border-radius: 3px;
  background:linear-gradient(135deg, #4338ca, #2563eb) ;
  color: white;
  font-family:Barlow Condensed ;
  font-weight:800 ;
  font-size: 15px;
  width: 200px;
  letter-spacing: 1px;
   text-transform: uppercase;
   cursor: pointer;
  display: flex;
}

.version {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: #525252;
  font-weight: 400;
  margin-right: 25px;
}

.version-p, .version-p2 {
  margin-bottom: 0px;
  font-family: dm mono;
  font-weight: 400;
}

.description-p2 {
  margin-top: 5px;
  font-family: dm mono;

}

.motto {
  border-style: dashed;
  border-color: #0c0c0c;
  display: flex;
  flex-direction: column;
  background-color: #0c0c0c;
  margin-left: 60px;
  margin-top: 100px;
}
.motto-head {
  display: flex;
  align-items: center;
  gap: 5px;
}
.motto-line {
  width: 30px;
  height: 2px;
  background-color:#2563eb ;
  margin-left: 15px;
}
.motto-p {
  color:#2563eb ;
  font-family: DM Mono;
  font-size: 15px;
  font-weight: 200;
}
.motto h1 {
  margin: 2px;
}

.motto-h1, .motto-h2 {
  font-family: Barlow Condensed;
  color: white;
  font-weight: 900;
  font-size: 135px;
  text-transform: uppercase;
}

.motto-h3 {
  font-family: frauncer;
  color: #737373;
font-style: italic;
font-weight: 300;
font-size: 120px;
}

.start {
  display: flex;
  border-style: dashed;
  border-color: #0c0c0c;
  margin-top: 20px;
  margin-left:50px ;
  background-color: #0c0c0c;
  color: #737373;
  font-family:inter;
  line-height: 1.5;
  align-items: center;
}

.start p {
   max-width: 60ch;
}

.start-button-2 {
 margin-left: 90px;
 padding: 15px;
 width: 250px;
 border-radius: 5px;
background: linear-gradient(135deg, #4338ca, #2563eb);
border: none;
color: white;
font-family: Barlow Condensed;
font-size: 20px;
font-weight: 700;
text-transform: uppercase;
display: flex;
justify-content: center;
align-items: center;
}

.details {
  background-color: #0c0c0c;
  margin-top: 200px;
  padding: 150px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-00 {
  display: flex;
  gap: 10px;
align-items: center;
}

.details-00-p1 {
  font-family: DM Mono;
  font-weight: 300;
  color: #525252;
  font-size: 12px;
  text-transform: uppercase;
}

.details-00-p2 {
  font-family: Barlow Condensed;
  color: #F0F0F0;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  margin-left: 15px;
}

.line {
  background-color: #525252;
  width: auto;
  height: 1px;
}

.details-01, .details-02, .details-03 {
  display: flex;
  gap: 40px;
  align-items: center;
  padding: 35px;
}

.details-01-p1, .details-02-p1, .details-03-p1 {
  color:#404040;
  font-family: DM mono;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
}

.details-01-p2, .details-02-p2, .details-03-p2 {
  font-family: Barlow Condensed;
  text-transform: uppercase;
  color: #A3A3A3;
  font-weight: 800;
  font-size: 25px;
}

.details-01-p3, .details-02-p3, .details-03-p3 {
  font-family: inter;
  color:#404040 ;
  max-width: 50ch;
  font-size: 15px;
  
}

.details-02-p3 {
  margin-left:104px ;
}

.details-03-p3 {
  margin-left:74px ;
}

.how-it-works {
  background-color: #F5F5F3;
   margin-top: 100px;
   padding: 150px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.how-line {
  width: 100%;
  height: 1px;
   background-color:#F0F0F0 ;
}


.how-00-p1 {
  font-family: DM Mono;
  font-weight: 400;
  font-size:10px;
  color: #A3A3A3;
  text-transform: uppercase;
}

.how-00-p2 {
  font-family: Barlow Condensed;
  font-weight: 900;
  font-size:28px;
  color: #0c0c0c;
  text-transform: uppercase;
  margin-left: 25px;
}


  
.steps-1-3 {
  display: flex;
}


.steps-4-6 {
  display: flex;
}

.steps-1, .steps-2, .steps-3, .steps-4, .steps-5, .steps-6 {
  padding: 20px;
  width: 300px;
   margin: 20px;
}

.steps-head {
  display: flex;
  align-items: center;
  gap: 5px;
}


.steps-line {
  height: 1px;
  width: 100%;
  background-color:#F0F0F0 ;
}

.steps-num {
  font-family: DM Mono;
  font-size: 12px;
  color: #2563EB;
  font-weight: 500;
}

.steps-h {
  font-family: Barlow Condensed;
  font-weight: 800;
  color: #0c0c0c;
  text-transform: uppercase;
  font-size:18px ;
}

.steps-p {
  color: #737373;
  font-family: inter;
  font-weight: 400;
  font-size: 14px;
}

.pricing {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.pricing-boxes {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-top: 50px;
}

.box-1,.box-2, .box-3 {
  padding: 40px 32px;
  flex-direction: column;
  width: 300px;
}



.pricing-h {
  font-family: DM Mono;
  font-weight: 400;
  font-size:10px;
  color: #525252;
  text-transform: uppercase;
  margin-top: 100px;
}

.pricing-head-p {
font-family: Barlow Condensed;
font-size: 28px;
font-weight: 900;
color: #F0F0F0;
margin-left: 25px;
}

.pricing-line {
  height: 1px;
  width: 100%;
  background-color:#525252 ;
}

.pricing-title {
  font-family: DM Mono;
  font-size: 10px;
  font-weight: 400;
  color: #525252;
  text-transform: uppercase;

}

.price {
  font-family: Barlow Condensed;
  color: #F0F0F0;
  font-weight: 900;
  font-size: 48px;
}

.month {
  font-family: Dm Mono; 
    color: #525252;
    font-weight: 400;
    font-size: 12px;
}

.pricing-p {
  font-family: inter;
  font-weight: 400;
  font-size: 13px;
  color: #525252;
}

.price-list {
   list-style-type: none;
   color: #404040;
   font-family: inter;
   font-weight: 400;
   font-size: 13px;
    padding-left: 0;
}

.price-list li {
  margin-top: 15px;
  margin-bottom: 15px;
}



.price-button {
  padding: 12px ;
  color:#525252 ;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  background-color: transparent;
  border-style: solid;
  border-color: #525252;
  font-family: Barlow Condensed;
  width: 200px;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
   margin-top: auto;
}

.box-1 {
  background-color:#0c0c0c ;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-style: solid;
  border-color: #525252;
   border-width: 2px;
}

.box-3 {
   background-color:#0c0c0c ;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-color: #525252;
  border-width: 2px;
}

.box-2 {
  background-color:#F5F5F3;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #525252;
}

.pricing-title-s {
  font-family: DM Mono;
  font-size: 10px;
  font-weight: 400;
  color: #2563EB;
  text-transform: uppercase;
}

.price-s {
   font-family: Barlow Condensed;
  color: #0c0c0c;
  font-weight: 900;
  font-size: 48px;
}

.price-button-s {
  padding: 12px ;
  font-family: Barlow Condensed;
  color:#ffffff ;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  background-image: linear-gradient(135deg, #4338ca, #2563eb);
  border-radius: 5px;
  border: none;
   width: 200px;
   letter-spacing: 1px;
   cursor: pointer;
    margin-top: auto;
}

.cta {
  display: flex;
  flex-direction: column;
  padding: 150px;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

.cta-text {
  display: flex;
align-items: center;
flex-direction: column;
}

.cta-h {
  display:flex;
  align-items: center;
  gap: 10px;
}

.small-line {
  width: 20px;
  height: 1px;
  background-color:#2563EB ;
}

.cta-h p {
  font-family: Dm Mono;
  color: #2563EB;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 11px;
}

.cta-message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta-message h1 {
  font-family: Barlow Condensed;
  font-weight: 900;
  font-size: 90px;
  color: #ffffff;
  text-transform: uppercase;
}

.cta-message h2 {
  font-family: fraunces;
  font-style: italic;
  font-size: 76px;
  color: #737373;
  font-weight: 300;
}

.cta-button, .footer-button {
  font-family: Barlow Condensed;
  font-weight: 800;
  font-size: 15px;
  color: #ffffff;
  padding: 14px 36px;
  border-radius: 2px;
  background-image: linear-gradient(135deg, #4338ca, #2563eb);
  border: none;
  cursor: pointer;
  letter-spacing: 1px;
  text-transform: uppercase;
}


.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;   /* Keeps everything on the bottom */
  padding: 80px 60px;
  background: #0c0c0c;
}

.footer-left {
  display: flex;
  flex-direction: column;
}

.footer-brand {
  font-family: Barlow Condensed;
  color: white;
  font-size: 24px;
  font-weight: 900;
}

.footer-copy {
  color: #737373;
  font-family: Inter;
  margin-top: 10px;
}









