body {
  background-color: #0c0c0c;
}

* {
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color:#0c0c0c ;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  height:60px;
}

.overmind {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.over {
  font-family: Barlow Condensed;
  color:#ffffff;
  font-weight: 900;
  font-size: 22px;
}

.mind{
  font-family: fraunces;
  color: #a3a3a3;
  font-weight: 300;
  font-size: 18px;
  font-style: italic;
}

.training-lab {
  font-family: DM Mono;
  font-weight: 400;
  color: #525252;
  font-size: 11px;
  margin-right: 50px;
}

.back-a {
  font-family: DM Mono;
  font-weight: 400;
  color: #525252;
  font-size: 11px;
  margin-left: 50px;
  text-decoration: none;
  cursor: pointer;
}

.topics-div {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
}

.topics-step {
  display: flex;
  gap:10px;
  align-items: center;
}

.step{
  font-weight: 400;
  color: #2563eb;
  font-family: DM Mono;
  font-size: 15px;
}

.line {
   width: 30px;
  height: 1px;
  background-color:#2563eb ;
  margin-left: 15px;
}

.topics-info h1 {
  font-weight: 900;
  font-family: Barlow Condensed;
  font-size: 40px;
  color:#ffffff ;

}

.topics-p1 {
  font-family: inter;
  font-weight: 400;
  color: #2563eb;
  font-size: 11px;
}

.topics-p2 {
   font-family: inter;
  font-weight: 400;
  color: #737373;
  font-size: 18px;
}

.buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.d-m, .str, .s-i {
  background-color: #171717;
  padding: 22px 28px;
  color: #ffffff;
  font-family: Barlow Condensed;
  border-style: solid;
  border-color: #737373;
  border-radius: 5px;
  font-weight:800 ;
  font-size: 20px;
  width: 100%;
  cursor: pointer;
  border-width: 0.1px;
  text-decoration: none;
}

.real, .fake {
  background-color: #ffffff;
  padding: 22px 28px;
  color: #171717;
  font-family: Barlow Condensed;
  border-style: solid;
  border-color: #737373;
  border-radius: 5px;
  font-weight:800 ;
  font-size: 20px;
  width: auto;
  flex: 1;
  cursor: pointer;
  border-width: 0.1px;
  text-decoration: none;

}

.styles {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.styles-p, .topics-p {
   font-weight: 400;
  color: #2563eb;
  font-family: DM Mono;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  box-shadow: 0 0 40px #2563eb;
}

.continue {
  width: 100%;
}

.continue-button {
  margin-top: 30px;
  margin-bottom: 30px;
    display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 22px 28px;
  border-radius: 5px;
  background-image: linear-gradient(135deg, #4338ca, #2563eb);
  color: white;
  font-family:Barlow Condensed ;
  font-weight:800 ;
  font-size: 30px;
  width: 100%;
  letter-spacing: 1px;
   cursor: pointer;
  display: flex;
  text-decoration: none;
  display: none;
}